@font-face {
    font-family: "cinecaption";
    src: url('font/tinyCinecaption.woff');
}

@font-face {
    font-family: "notoSerif";
    src: url('font/tinyNotoSerifRegular.woff');
}

@font-face {
    font-family: "notoSerif";
    src: url('font/tinyNotoSerifLight.woff');
    font-weight: lighter;
}

body {
    background-color: #222222;
    margin: 0;
}

/* mobile call button styling */
.mobileCTA {
    position: sticky;
    bottom: 0;
}

.mobileCTA a {
    display: flex;
    justify-content: space-evenly;
    align-content: center;

    background-color: black;

    text-decoration: none;
}

ul.mobilePhone {
    color: white;
    list-style-type: none;
    font-family: "notoSerif";

    padding-left: none;
    margin-left: none;
}

.mobileButton {
    display: flex;
    justify-content: center;
    align-content: center;
    /*
    background-color: #D04F33;
    */
    background: linear-gradient(to bottom, #f16e51 0%, #d04f33 100%);

    border-radius: 5px;

    margin: 15px;
    padding: 5px 15px;

    list-style-type: none;
    color: white;
    font-size: 30px;
}

/* nav bar styling */

/* logo styling */
.circleLogo {
    width: 10vw;
    /*max-width: 0.2vw;*/
    height: auto;
    

    padding: 1vh 1vw;
    display: flex;            /* NEW; nested flex container */
    justify-content: center;  /* NEW; align anchor elements horizontally */
    align-items: center; 
}

.topnav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    background-color: black;
    top: 0;
    margin: 0;
    padding: 0;

    position: sticky;
    z-index: 100;
}

.topnav li {
    list-style-type: none;
}

.logo {
    padding: 1vh 1vw;
    display: flex;            /* NEW; nested flex container */
    justify-content: center;  /* NEW; align anchor elements horizontally */
    align-items: center; 
    
    font-size: 20px;
}

.topnav a:link {
    text-decoration: none;
    color: white;

    font-family: "notoSerif";
}

.topnav a:visited {
    text-decoration: none;
    color: white;
}


.break {
    flex-basis: 100%;
    height: 0;
}

.phoneCTA {
    display:none;
}

.highlight, .menuLink {
    padding: 1.5vw 3vw;
}


/*horizontal line styling*/
hr {
    margin-top: 5vh;
    width: 90%;
    border: 2px solid white;
}

/* intro heading styling */

.intro {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    margin-top: 5vh;
    margin-left: 7vw;

    margin-right: 0;

    color: white;
    font-family: "notoSerif";
    font-size: 5vw;
    font-weight: lighter;

    display: flex;
    justify-content: center;
    align-items: center;
}

.closeTable {
    margin-top: 5vh;

    margin-right: 5vw;

    width: 58vw;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.content ul {
    list-style-type: none;
}


/* content styling */

.content {
    margin-top: 5vh;
    margin-left: 15vw;

    color: white;
    font-family: "cinecaption";

    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* store info styling */

.info {
    margin-right: 5vw;
    margin-left: 1vw;

    display: flex;
    flex-direction: column;
}

.contentContact, .contentSchedule, .disclaimers {
    font-size: 3vw;
    font-weight: lighter;
    line-height: 1.5;
}

.contentContact, .disclaimers {
    padding: 0;
}

h2 {
    font-size: 3vw;
    font-weight: lighter;
}

.contentSchedule {
    margin-top: 0;
}


/* map + location styling */
/* location styling */
.location {

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.map {
    display: none;
    margin-right: 0;
    margin-left: 3vw;
    padding: 0;

    width: 50vw;
    height: auto;
    

    justify-content: center;
    align-items: center;
}

.mobileMap {
    
    margin-right: 0;
    margin-left: 15vw;
    padding: 0;

    width: 40vw;
    height: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.directions {
    line-height: 1.5;
    font-size: 3vw;
}

 /* interior styling */

.interior {
    display: flex;
    align-content: flex-start;
}

.interior h1 {
    margin-top: 5vh;
    margin-left: 12vw;
    margin-bottom: 1vh;

    margin-right: 0;

    color: white;
    font-family: "notoSerif";
    font-size: 5vw;
    font-weight: lighter;

    display: flex;
    justify-content: center;
    align-items: center;
}

 .pamphlet {
    margin-top: 0;
    margin-bottom: 5vh;

    width: 100%;
    height: 70vw;

    display: flex;
    justify-content: center;
    align-items: center;
}




/* footer styling */

footer {
    background-color: #121212;
    color: white;
    padding-top: 3vh;
    padding-bottom: 3vh;

    margin-top: 0;
    /*flexbox for footer*/
    display: flex;
    justify-content: space-around;
    
    align-items: flex-end;
}

/*column 1 styling*/
.col1 {
    display: flex;
    flex-direction: column;
    margin-left: 6vw;

}

.footerLogo {
    display: flex;
    justify-content: space-around;
}

.textLogo {
    display: none;
    flex-direction: column;

    margin-left: 1vw;

    font-family: "notoSerif";
}

h3 {
    font-size: 2vw;
    height: 0;
    margin-top: 0;
    font-weight: lighter;
}

h4 {
    font-size: 7vw;
    font-weight: lighter;
    height: 0;
    margin-top: 0;
}

.bigLogo {
    width: 18vw;
    /*max-width: 0.2vw;*/
    height: 100%;
    margin-left: 4vw;
}

.legal {
    display: none;

    font-family: "notoSerif";
    font-size: 0.8vw;

    margin-left: 2vw;

    list-style-type: none;
}

.mobileLegal {    
    font-family: "notoSerif";
    font-size: 0.8vw;
    color: white;

    margin-left: 2vw;

    list-style-type: none;
}

/* col2 styling */

.schedule {
    font-family: "notoSerif";
    list-style-type: none;
    font-size: 1vw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address {
    font-family: "notoSerif";
    font-size: 1vw;
    list-style-type: none;
}

.contact {
    font-family: "notoSerif";
    font-size: 1vw;
    list-style-type: none;
}

/* col3 styling */

.bottomNav {
    font-family: "notoSerif";
    font-size: 1.2vw;
    list-style-type: none;

    margin-right: 9vw;

    display: none;
    justify-content: space-around;
}

.bottomNav li {
    padding: 1vh 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomNav a:link {
    color: white;
    text-decoration: none;
    padding: 0.2vw;
}

.bottomNav a:visited {
    color: white;
    text-decoration: none;
}

.bottomNav a:hover {
    color: white;
    background-color: #D04F33;
}


@media only screen and (min-width: 600px) {
    /* footer styling */
    .bigLogo {
        width: 15vw;
        /*max-width: 0.2vw;*/
        height: 100%;
        margin-left: 4vw;
    }
}

@media only screen and (min-width: 700px) {
    /* mobile phone button */
    .mobileCTA {
        display: none;
    }

    .break {
        display: none;
        flex-basis: 0;
        height: 0;
    }

    /* logo styling */
    .circleLogo {
        width: 4.5vw;
        /*max-width: 0.2vw;*/
        height: auto;

        margin-left: 10vw;
    }

    /* nav bar styling */
    .topnav {
        list-style-type: none;
        background-color: black;
        font-size: 1.2vw;
        font-family: "notoSerif";
        top: 0;
        margin: 0;
        padding: 0;
        position: sticky;
        z-index: 100;
    
        /*flexbox*/
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .topnav a:link {
        padding: 0.4vw;
        color: white;
        text-decoration: none;
    }
    
    .topnav a:visited {
        color: white;
        text-decoration: none;
    }
    
    .highlight a:hover, .logo a:hover, .menuLink a:hover {
        color: white;
        background-color: #D04F33;
    }
    
    .logo {
        margin-right: auto;
    }
    
    
    .topnav li {
        padding: 1vh 1vw;
        display: flex;            /* NEW; nested flex container */
        justify-content: center;  /* NEW; align anchor elements horizontally */
        align-items: center; 
    }
    
    /* phone button styling */
    .phone {
        background: linear-gradient(to bottom, #f16e51 0%, #d04f33 100%);
        padding: 0.1vw;
        border-radius: 10px;
    }
    
    .phone li {
        padding: 0;
    }
    
    .phoneCaption {
        font-size: 0.8vw;
    }
    
    .phoneNumber {
        font-size: 1.2vw;
    }

    /*content styling */
    .content {
        margin-top: 5vh;
        margin-left: 0;
    
        color: white;
        font-family: "cinecaption";
    
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    h1 {
        font-size: 3.5vw;
    }

    .interior h1 {
        font-size: 3.5vw;
    }

    .info {
        margin-right: 5vw;
        margin-left: 5vw;
    
        display: flex;
        flex-direction: column;
    }

    .contentContact, .contentSchedule, .disclaimers {
        font-size: 1.8vw;
        font-weight: lighter;
        line-height: 1.5;
    }
    
    .contentContact, .disclaimers {
        padding: 0;
    }
    
    h2 {
        font-size: 1.8vw;
        font-weight: lighter;
    }
    
    .contentSchedule {
        margin-top: 0;
    }

    /* location */
    .map {
        margin-right: 0;
        margin-left: 3vw;
        padding: 0;
    
        width: 40vw;
        height: auto;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobileMap {
        display: none;
    }

    

}

@media only screen and (min-width: 768px) {
    /* content styling */
    .contentContact, .contentSchedule, .disclaimers {
        font-size: 1.2vw;
        font-weight: lighter;
        line-height: 1.5;
    }
    
    .contentContact, .disclaimers {
        padding: 0;
    }
    
    h2 {
        font-size: 1.2vw;
        font-weight: lighter;
    }

    /* location styling */
    .location {

        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .map {
        margin-right: 0;
        margin-left: 3vw;
        padding: 0;

        width: 40vw;
        height: auto;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .directions {
        line-height: 1.5;
        font-size: 1.2vw;
    }

    /* interior styling */

    .pamphlet {
        margin-top: 0;
        margin-bottom: 5vh;
    
        width: 100%;
        height: 75vh;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* footer styling */

    .legal {
        display: flex;
    }

    .mobileLegal {
        display: none;
    }

    .textLogo {
        display: flex;
    }

    
    .bigLogo {
        width: 12vw;
        /*max-width: 0.2vw;*/
        height: 100%;
        margin-left: 4vw;
    }
}


@media only screen and (min-width: 950px) {
    /* footer styling */

    footer {
        background-color: #121212;
        color: white;
        padding-top: 3vh;
        padding-bottom: 3vh;

        margin-top: 10vh;
        /*flexbox for footer*/
        display: flex;
        justify-content: space-around;
        
        align-items: flex-end;
    }

    /*column 1 styling*/
    .col1 {
        display: flex;
        flex-direction: column;
        margin-left: 6vw;

    }

    .footerLogo {
        display: flex;
        justify-content: space-around;
    }

    .textLogo {
        display: flex;
        flex-direction: column;

        margin-left: 1vw;

        font-family: "notoSerif";
    }

    h3 {
        font-size: 2vw;
        height: 0;
        margin-top: 0;
        font-weight: lighter;
    }

    h4 {
        font-size: 7vw;
        font-weight: lighter;
        height: 0;
        margin-top: 0;
    }

    .bigLogo {
        width: 12vw;
        /*max-width: 0.2vw;*/
        height: 100%;
        margin-left: 4vw;
    }

    .legal {
        font-family: "notoSerif";
        font-size: 0.8vw;

        margin-left: 2vw;

        list-style-type: none;
    }

    /* col2 styling */

    .schedule {
        font-family: "notoSerif";
        list-style-type: none;
        font-size: 1vw;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .address {
        font-family: "notoSerif";
        font-size: 1vw;
        list-style-type: none;
    }

    .contact {
        font-family: "notoSerif";
        font-size: 1vw;
        list-style-type: none;
    }

    /* col3 styling */

    .bottomNav {
        font-family: "notoSerif";
        font-size: 1.2vw;
        list-style-type: none;

        margin-right: 9vw;

        display: flex;
        justify-content: space-around;
    }

    .bottomNav li {
        padding: 1vh 0.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottomNav a:link {
        color: white;
        text-decoration: none;
        padding: 0.2vw;
    }

    .bottomNav a:visited {
        color: white;
        text-decoration: none;
    }

    .bottomNav a:hover {
        color: white;
        background-color: #D04F33;
    }
}
