@font-face {
    font-family: "cinecaption";
    src: url('font/tinyCinecaption.woff');
}

@font-face {
    font-family: "notoSerif";
    src: url('font/tinyNotoSerifRegular.woff');
}

@font-face {
    font-family: "notoSerif";
    src: url('font/tinyNotoSerifLight.woff');
    font-weight: lighter;
}

@font-face {
    font-family: "heavycaligraphy";
    src: url('font/shokaki.ttf');
}

@font-face {
    font-family: "yujiSyuku";
    src: url('font/YujiSyuku-Regular.ttf');
}

:root {
    --aduki: #8C1B1B;
    --cream: #FFF1E6;
    --makka: #CC2727;
    --uguisu: #907F25;
    --katuo: #FC2A0D;
    --cta: #EA674B;
    --awaiaduki: #CB4848;
    --awaiaduki2: #DF6C6C;
}

button.reset {
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    font: inherit;
    color: inherit;

    cursor: pointer;
}

button.reset:focus-visible {
    outline: 2px solid black;
    outline-offset: 2px;
}

.tategaki {
    writing-mode: vertical-rl; /* 縦書き（右から左） */
    -webkit-writing-mode: vertical-rl; /* Safari用 */
}

body {
    background-color: #222222;
    margin: 0;
}

.okonomiyakiBanner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.okonomiyakiBannerContainer {
    width: 100vw;
    height: 50vh;
    overflow: hidden;
}

.menuContainer {
    width: 100vw;
    background-color: var(--aduki);
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.wrap {
    height: 64px;
    width: 340px;
    position: relative;
}


.yakisobaSVG {

    z-index: 1000;
    top: -400px;
    right: -250px;



    pointer-events: none;
    position: absolute;

}

.okonomiSVG {

    z-index: 1000;
    top: -400px;
    right: 50px;

    pointer-events: none;
    position: absolute;
    

}

.menuHeading {
    font-family: "heavycaligraphy";
    font-size: 64px;
    color: var(--cream);
    text-align: center;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menuControl {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.menuControl button {
    font-family: "yujiSyuku";
    color: var(--cream);
    font-size: 25px;
}

.menuControl button.active {
    font-size: 25px;
    outline-style: solid;
    outline-color: var(--uguisu);
    outline-offset: 2px;
    border-radius: 10px;
    background-color: var(--uguisu);
    padding: 10px;

    color: white;
}

  
.menuContent.active {
    display: flex;
}

.menuContent {
    width: 100vw;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: none;
}

.menuList {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuTitle {
    font-family: "heavycaligraphy";
    font-size: 72px;
    color: var(--awaiaduki2);
    margin-bottom: 30px;
}

.menuSubtitle {
    font-family: "heavycaligraphy";
    font-size: 56px;
    color: white;
    margin-bottom: 30px;
    margin-top: 10px;
}

.menuItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: flex-start;
}

.menuCloser {
    margin-bottom: 40px;
}

.dish {
    font-family: "yujiSyuku";
    font-size: 30px;
}

.smallerDish {
    font-family: "yujiSyuku";
    font-size: 20px;
}

.price {
    font-family: 'cinecaption';
    font-size: 20px;
    padding-top: 10px;
}

.smallerPrice {
    font-family: 'cinecaption';
    font-size: 20px;
    padding-top: 3px;
}



ul {
    list-style-type: none;
}
/* footer styling */

footer {
    background-color: #121212;
    color: white;
    padding-top: 3vh;
    padding-bottom: 3vh;

    margin-top: 0;
    /*flexbox for footer*/
    display: flex;
    justify-content: space-around;
    
    align-items: flex-end;
}

/*column 1 styling*/
.col1 {
    display: flex;
    flex-direction: column;
    margin-left: 6vw;

}

.footerLogo {
    display: flex;
    justify-content: space-around;
}

.textLogo {
    display: none;
    flex-direction: column;

    margin-left: 1vw;

    font-family: "notoSerif";
}

h3 {
    font-size: 2vw;
    height: 0;
    margin-top: 0;
    font-weight: lighter;
}

h4 {
    font-size: 7vw;
    font-weight: lighter;
    height: 0;
    margin-top: 0;
}

.bigLogo {
    width: 18vw;
    /*max-width: 0.2vw;*/
    height: 100%;
    margin-left: 4vw;
}

.legal {
    display: none;

    font-family: "notoSerif";
    font-size: 0.8vw;

    margin-left: 2vw;

    list-style-type: none;
}

.mobileLegal {    
    font-family: "notoSerif";
    font-size: 0.8vw;
    color: white;

    margin-left: 2vw;

    list-style-type: none;
}

/* col2 styling */

.schedule {
    font-family: "notoSerif";
    list-style-type: none;
    font-size: 1vw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address {
    font-family: "notoSerif";
    font-size: 1vw;
    list-style-type: none;
}

.contact {
    font-family: "notoSerif";
    font-size: 1vw;
    list-style-type: none;
}

/* col3 styling */

.bottomNav {
    font-family: "notoSerif";
    font-size: 1.2vw;
    list-style-type: none;

    margin-right: 9vw;

    display: none;
    justify-content: space-around;
}

.bottomNav li {
    padding: 1vh 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomNav a:link {
    color: white;
    text-decoration: none;
    padding: 0.2vw;
}

.bottomNav a:visited {
    color: white;
    text-decoration: none;
}

.bottomNav a:hover {
    color: white;
    background-color: #D04F33;
}


@media only screen and (min-width: 600px) {
    /* footer styling */
    .bigLogo {
        width: 15vw;
        /*max-width: 0.2vw;*/
        height: 100%;
        margin-left: 4vw;
    }
}

@media only screen and (min-width: 768px){
    /* footer styling */

    .legal {
        display: flex;
    }

    .mobileLegal {
        display: none;
    }

    .textLogo {
        display: flex;
    }

    
    .bigLogo {
        width: 12vw;
        /*max-width: 0.2vw;*/
        height: 100%;
        margin-left: 4vw;
    }
}

@media only screen and (min-width: 950px) {
    /* footer styling */

    footer {
        background-color: #121212;
        color: white;
        padding-top: 3vh;
        padding-bottom: 3vh;

        margin-top: 10vh;
        /*flexbox for footer*/
        display: flex;
        justify-content: space-around;
        
        align-items: flex-end;
    }

    /*column 1 styling*/
    .col1 {
        display: flex;
        flex-direction: column;
        margin-left: 6vw;

    }

    .footerLogo {
        display: flex;
        justify-content: space-around;
    }

    .textLogo {
        display: flex;
        flex-direction: column;

        margin-left: 1vw;

        font-family: "notoSerif";
    }

    h3 {
        font-size: 2vw;
        height: 0;
        margin-top: 0;
        font-weight: lighter;
    }

    h4 {
        font-size: 7vw;
        font-weight: lighter;
        height: 0;
        margin-top: 0;
    }

    .bigLogo {
        width: 12vw;
        /*max-width: 0.2vw;*/
        height: 100%;
        margin-left: 4vw;
    }

    .legal {
        font-family: "notoSerif";
        font-size: 0.8vw;

        margin-left: 2vw;

        list-style-type: none;
    }

    /* col2 styling */

    .schedule {
        font-family: "notoSerif";
        list-style-type: none;
        font-size: 1vw;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .address {
        font-family: "notoSerif";
        font-size: 1vw;
        list-style-type: none;
    }

    .contact {
        font-family: "notoSerif";
        font-size: 1vw;
        list-style-type: none;
    }

    /* col3 styling */

    .bottomNav {
        font-family: "notoSerif";
        font-size: 1.2vw;
        list-style-type: none;

        margin-right: 9vw;

        display: flex;
        justify-content: space-around;
    }

    .bottomNav li {
        padding: 1vh 0.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottomNav a:link {
        color: white;
        text-decoration: none;
        padding: 0.2vw;
    }

    .bottomNav a:visited {
        color: white;
        text-decoration: none;
    }

    .bottomNav a:hover {
        color: white;
        background-color: #D04F33;
    }
}
