@font-face {
    font-family: "cinecaption";
    src: url('font/tinyCinecaption.woff');
}

@font-face {
    font-family: "heavycaligraphy";
    src: url('font/shokaki.ttf');
}

@font-face {
    font-family: "yujiSyuku";
    src: url('font/YujiSyuku-Regular.ttf');
}

:root {
    --aduki: #8C1B1B;
    --cream: #FFF1E6;
    --makka: #CC2727;
    --uguisu: #907F25;
    --awaiaduki2: #DF6C6C;
    --katuo: #FC2A0D;
    --cta: #EA674B;
    --awaiaduki: #CB4848;
    --kabe: #A00703;
    --awaikabe: #E6635F;
    --slate: #222222;
}

button.reset {
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    font: inherit;
    color: inherit;

    cursor: pointer;
}

button.reset:focus-visible {
    outline: 2px solid black;
    outline-offset: 2px;
}

.tategaki {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
}

body {
    background-color: #222222;
    margin: 0;
    overflow-x: hidden;
}

.topNav {
    background-color: var(--slate);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    position: sticky;
    margin-right: 5rem;
    top: 0;
    z-index: 3;
}

.navControl {
    display: flex;
    text-align: center;
    font-family: 'yujiSyuku';
    color: white;

    justify-content: space-between;
    align-items: center;
}

.topCTA {
    background-color: var(--uguisu);
    padding: 5px;
    outline-style: solid;
    outline-color: var(--uguisu);
    outline-offset: 2px;
    border-radius: 10px;
    font-size: 1rem;
}

.topLogo {
    position: absolute;
  
    left: 5rem;
    top: 10px;
  
    height: 160px;
  
    /* transform: translateY(-50%); */
  
    z-index: 3;
  }

.okonomiyakiBanner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.okonomiyakiBannerContainer {
    width: 100vw;
    height: 50vh;
    overflow: hidden;
}

.menuContainer {
    width: 100vw;
    background-color: var(--kabe);
    /* to do : add padding top and bottom for mobile */
    position: relative;
}

.wrap {
    /* todo - add height and width */
    position: relative;
    /* overflow: hidden; */
    /* todo - add flex basis */
}


.yakisobaSVG {
    z-index: 1;
    pointer-events: none;
   
    /* transform: scale(1.2); */
    /* todo - add top, left, position */
    
}

.okonomiSVG {
    z-index: 1;
    pointer-events: none;
   
    /* transform: scale(1.2); */
    /* todo - add top, right, position */
}

.menuHeading {
    font-family: "heavycaligraphy";
    font-size: 2rem;
    color: var(--cream);
    text-align: center;
    /* todo - add margin bottom left right, gap*/ 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .menuHeadingText {
    todo - add mobile styling for this
} */

.menuControl {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* todo - gap */
}

.menuControl button {
    font-family: "yujiSyuku";
    color: var(--cream);
    font-size: 1.2rem;
}

.menuControl button.active {
    font-size: 1.2rem;
    outline-style: solid;
    outline-color: var(--uguisu);
    outline-offset: 2px;
    border-radius: 10px;
    background-color: var(--uguisu);
    padding: 10px;
    color: white;
}
  
.menuContent.active {
    display: flex;
}

.menuContent {
    width: 100vw;
    /* todo - padding-top; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: none;
}

.menuList {
    /* todo - width */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuTitle {
    font-family: "heavycaligraphy";
    /* todo - font-size: 72px; */
    color: var(--awaikabe);
    /* margin-bottom: 30px; */
}

.menuSubtitle {
    font-family: "heavycaligraphy";
    /* font-size: 56px; */
    color: white;
    /* margin-bottom: 30px;
    margin-top: 10px; */
}

.menuItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    align-items: flex-start;
}

.menuCloser {
    /* margin-bottom: 40px; */
}

.dish {
    font-family: "yujiSyuku";
    /* font-size: 30px; */
}

.smallerDish {
    font-family: "yujiSyuku";
    /* font-size: 20px; */
}

.price {
    font-family: 'cinecaption';
    /* font-size: 20px;
    padding-top: 10px; */
}

.smallerPrice {
    font-family: 'cinecaption';
}

.contact {
    width: 100vw;
    background-color: var(--makka);
    background-image: url(./img/assets_2026/yaochi_square.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
    gap: 30px;
}

.contact img {
    color: white;
    opacity: 0.5;
}

.contact div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contactHeader {
    font-family: "yujiSyuku";
    font-size: 1.5rem;

}

.contactBody {
    font-family: "cinecaption";
    font-size: 1rem;
}

footer {
    background-color: #121212;
    color: white;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-top: 0;

    display: flex;
    justify-content: center;

    font-family: "yujiSyuku"
}

/* new break point */
@media (min-width: 1024px) {
    .navControl {
        width: 260px;
    }
    
    .menuContainer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /* svg images */
    .wrap {
        height: auto;
        width: 40px;

        /* overflow: hidden; */
        flex-basis: 33%;
    }

    .yakisobaSVG {
        position: absolute;
        top: -400px;
        left: 50px;
    }

    .okonomiSVG {
        top: -400px;
        right: 70px;
        position: absolute;
    }

    .menuHeading {
        font-size: 4rem;
        margin-bottom: 50px;
        /* gap: 100px; */
        /* margin-left: auto;
        margin-right: auto; */
    }

    .menuHeadingText {
        width: 200px;
    }

    .menuControl {
        gap: 30px;
    }

    .menuControl button {
        font-size: 1.5rem;
    }

    .menuControl button.active {
        font-size: 1.5rem;
    }

    .menuContent {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .menuList {
        width: 600px;
    }

    .menuTitle {
        font-size: 4.5rem;
        margin-bottom: 30px;
    }

    .menuSubtitle {
        font-size : 3.5rem;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .menuItem {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .menuCloser {
        margin-bottom: 40px;
    }

    .dish {
        font-size: 1.6rem;
    }

    .smallerDish {
        font-size: 1.2rem;
    }

    .price {
        font-size: 1.2rem;
        padding-top: 10px;
    }

    .smallerPrice {
        font-size: 1.2rem;
        padding-top: 3px;
    }

    footer {
        font-size : 1.4rem;
    }
}
