@font-face {
    font-family: "cinecaption";
    src: url('font/tinyCinecaption.woff');
}

@font-face {
    font-family: "notoSerif";
    src: url('font/tinyNotoSerifRegular.woff');
}

@font-face {
    font-family: "notoSerif";
    src: url('font/tinyNotoSerifLight.woff');
    font-weight: lighter;
}

@font-face {
    font-family: "heavycaligraphy";
    src: url('font/shokaki.ttf');
}

@font-face {
    font-family: "yujiSyuku";
    src: url('font/YujiSyuku-Regular.ttf');
}

:root {
    --aduki: #8C1B1B;
    --cream: #FFF1E6;
    --makka: #CC2727;
    --uguisu: #907F25;
    --katuo: #FC2A0D;
    --cta: #EA674B;
    --awaiaduki: #CB4848;
    --awaiaduki2: #DF6C6C;
}

button.reset {
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    font: inherit;
    color: inherit;

    cursor: pointer;
}

button.reset:focus-visible {
    outline: 2px solid black;
    outline-offset: 2px;
}

.tategaki {
    writing-mode: vertical-rl; /* 縦書き（右から左） */
    -webkit-writing-mode: vertical-rl; /* Safari用 */
}

body {
    background-color: #222222;
    margin: 0;
}

.okonomiyakiBanner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.okonomiyakiBannerContainer {
    width: 100vw;
    height: 50vh;
    overflow: hidden;
}

.menuContainer {
    width: 100vw;
    background-color: var(--aduki);
    padding-top: 50px;
    padding-bottom: 50px;
}

.menuHeading {
    font-family: "heavycaligraphy";
    font-size: 64px;
    color: var(--cream);
    text-align: center;
    margin-bottom: 50px;
}

.menuControl {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.menuControl button {
    font-family: "yujiSyuku";
    color: var(--cream);
    font-size: 25px;
}

.menuControl button.active {
    font-size: 25px;
    outline-style: solid;
    outline-color: var(--uguisu);
    outline-offset: 2px;
    border-radius: 10px;
    background-color: var(--uguisu);
    padding: 10px;

    /* background: var(--awaiaduki2); */
    color: white;
}

  
.menuContent.active {
    display: flex;
}

.menuContent {
    width: 100vw;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: none;
}

.menuList {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuTitle {
    font-family: "heavycaligraphy";
    font-size: 72px;
    color: var(--awaiaduki2);
    margin-bottom: 30px;
}

.menuSubtitle {
    font-family: "heavycaligraphy";
    font-size: 56px;
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
}

.menuItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: flex-start;
}

.menuCloser {
    margin-bottom: 40px;
}

.dish {
    font-family: "yujiSyuku";
    font-size: 25px;
}

.price {
    font-family: 'cinecaption';
    font-size: 20px;
    padding-top: 8px;
}

/* mobile call button styling */
.mobileCTA {
    position: sticky;
    bottom: 0;
}

.mobileCTA a {
    display: flex;
    justify-content: space-evenly;
    align-content: center;

    background-color: black;

    text-decoration: none;
}

ul.mobilePhone {
    color: white;
    list-style-type: none;
    font-family: "notoSerif";

    padding-left: none;
    margin-left: none;
}

.mobileButton {
    display: flex;
    justify-content: center;
    align-content: center;
    /*
    background-color: #D04F33;
    */
    background: linear-gradient(to bottom, #f16e51 0%, #d04f33 100%);

    border-radius: 5px;

    margin: 15px;
    padding: 5px 15px;

    list-style-type: none;
    color: white;
    font-size: 30px;
}

/* nav bar styling */

/* logo styling */
.circleLogo {
    width: 10vw;
    /*max-width: 0.2vw;*/
    height: auto;
    

    padding: 1vh 1vw;
    display: flex;            /* NEW; nested flex container */
    justify-content: center;  /* NEW; align anchor elements horizontally */
    align-items: center; 
}

.topnav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    background-color: black;
    top: 0;
    margin: 0;
    padding: 0;

    position: sticky;
    z-index: 100;
}

.topnav li {
    list-style-type: none;
}

.logo {
    padding: 1vh 1vw;
    display: flex;            /* NEW; nested flex container */
    justify-content: center;  /* NEW; align anchor elements horizontally */
    align-items: center; 
    
    font-size: 20px;
}

.topnav a:link {
    text-decoration: none;
    color: white;

    font-family: "notoSerif";
}

.topnav a:visited {
    text-decoration: none;
    color: white;
}


.break {
    flex-basis: 100%;
    height: 0;
}

.phoneCTA {
    display:none;
}

.highlight, .menuLink {
    padding: 1.5vw 3vw;
}


/* title styling */

.title {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    margin-top: 5vh;
    margin-left: 5vw;

    margin-right: 0;
    padding-right: 0;

    color: white;
    font-family: "notoSerif";
    font-size: 4vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.okonomiyaki {
    margin-top: 5vh;

    margin-right: 5vw;

    width: 58vw;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
}

.tax {
    display: flex;
    justify-content: center;
    
    color: white;
    font-family: "notoSerif";
    font-size: 10px;

    margin-top: 10px;
}


/* side navigation styling */
.sidenav {
    font-family: "notoSerif";
    font-weight: lighter;
    font-size: 1vw;

    display: none;
    flex-direction: column;


    position: fixed;
    z-index: 100;
    bottom: 35%;
    right: 3vw;
}

/* middle navigation styling */

.midnav {
    font-family: "notoSerif";
    font-weight: lighter;
    font-size: 1.5vw;

    display: flex;
    justify-content: space-evenly;
}

.sidenav a:link, .midnav a:link {
    padding: 0.4vw;
    color: white;
    text-decoration: none;
}

.sidenav a:visited, .midnav a:visited {
    color: white;
    text-decoration: none;
}

.midnav a:hover{
    color: black;
    background-color: white;
}

.sidenav a:hover {
    text-decoration: underline;
    color: white;
}

.leftEnd {
    margin-left: 10vw;
}

.rightEnd {
    margin-right: 18vw;
}

/* menu styling */
.appetizers ul, .recContent ul, .okonomi ul, .yakisobaContent ul, .entreeContent ul, .drinkContent ul {
    color: white;
    font-family: "cinecaption";
    line-height: 2;
    font-size: 1.8vw;
}

h2 {
    color: white;
    font-family: "notoSerif";
    font-size: 2.5vw;
    font-weight: lighter;
}

.section{
    text-decoration: underline;
}




/* appetizers styling */
#appetizers {
    margin-top: 3vw;

    display: flex;
    justify-content: center;
    
}

.tukemono {
    width: 28vw;
    height: 100%;

    margin-right: 0;
    padding-left: 0;
    margin-left: 5vw;
}

.appetizers {
    margin-left: 3vw;
    margin-right: 5vw;

    padding-right: 20vw;
    padding-left: 3vw;

    background-color: #343434;

    box-shadow: 1.2vw 1.2vw #151515;
}

/* recs styling */

#recs {
    display: flex;
    justify-content: center;

    margin-top: 5vw;
}

.recs {
    margin-top: 0;
    margin-left: 5vw;
    margin-bottom: 1.2vw;

    padding-right: 5vw;

    background-color: #343434;
    box-shadow: -1.2vw 1.2vw #151515;


    display: flex;
    justify-content: center;
    flex-direction: column;
}

.recs h2 {
    padding: 0;
    margin-bottom: 0;
    margin-left: 2vw;
}

.recContent {
    margin-left: 2vw;

    display: flex;
    justify-content: center;
}

.onion {
    width: 20vw;
    height: 100%;

    margin-right: 5vw;
    margin-left: 3vw;
}

/* okonomi styling */

#okonomi {
    display: flex;
    justify-content: center;

    margin-top: 5vw;
    margin-bottom: 1.2vw;
}

/*okonomi photos styling */

.okonomiCollage {
    display: flex;
    flex-direction: column;

    margin-left: 5vw;
    margin-right: 3vw;
}

.okonomi1, .okonomi2 {
    width: 15vw;
    height: auto;
}

.okonomi1 {
    margin-bottom: 2vh;
}

.okonomi2 {
    margin-top: 2vh;
}

/* okonomi content styling*/

.okonomi {
    display: flex;
    flex-direction: column;

    margin-right: 5vw;

    background-color: #343434;
    box-shadow: 1.2vw 1.2vw #151515;
}

/* okonomi top styling */
.okonomiTop {
    display: flex;
    justify-content: space-between;

    padding-left: 1.2vw;
    padding-right: 1.2vw;
}

.okonomiTop ul {
    margin-bottom: 0;
    padding-bottom: 0;
}

/*  okonomi middle styling */
.okonomiMiddle {
    display: flex;
    justify-content: space-between;
    
    padding-right: 1.2vw;
}

.okonomiCol1 {
    display: flex;
    flex-direction: column;
}

.okonomiCol2 {
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

/* okonomi end styling */
.okonomiEnd {
    display: flex;
    justify-content: center;
}

.okonomiEnd ul {
    text-align: center;
    padding-right: 1.5vw;
    padding-left: 1.5vw;

    border: 1px solid white;
}


/* yakisoba styling */

#yakisoba {
    display: flex;
    justify-content: center;

    margin-top: 5vw;
}

/*yakisoba content styling*/

.yakisobaContent {
    display: flex;
    flex-direction: column;

    margin-left: 5vw;
    margin-bottom: 1.2vw;

    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 1vh;

    background-color: #343434;
    box-shadow: -1.2vw 1.2vw #151515;
}

.yakisobaTop {
    display: flex;
    justify-content: space-between;

    padding-left: 1.2vw;
    padding-right: 1.2vw;
}

.yakisobaMiddle {
    display: flex;
    justify-content: space-between;
}



.yakisobaEnd {
    display: flex;
    justify-content: center;
}

.yakisobaEnd ul {
    text-align: center;
    padding-right: 1.5vw;
    padding-left: 1.5vw;

    border: 1px solid white;
}

/* yakisoba photos styling */

.yakisobaCollage {
    display: flex;
    flex-direction: column;

    margin-right: 5vw;
    margin-left: 2vw;

}

.yakisoba1, .yakisoba2, .yakisoba3 {
    width: 24vw;
    height: auto;
}

.yakisoba2, .yakisoba3 {
    margin-top: 1.5vw;
}

/* entree styling */
#entree {
    display: flex;
    justify-content: center;

    margin-top: 5vw;
}

/* entree photos */
.entreeCollage {
    display: flex;
    flex-direction: column;

    margin-left: 5vw;
    margin-right: 1vw;
}

.entree1, .entree2 {
    width: 11vw;
    height: auto;
}

.entree2 {
    margin-top: 1vw;
}

/* entree content styling */
.entreeContent {
    display: flex;
    flex-direction: column;

    margin-right: 5vw;
    margin-bottom: 1.2vw;

    padding-left: 1vw;
    padding-right: 1vw;

    background-color: #343434;
    box-shadow: 1.2vw 1.2vw #151515;
}

.entreeColumn {
    display: flex;
    justify-content: space-between;
}

/* images display*/
#appetizers img, #recs img, #okonomi img, #yakisoba img, #entree img, #drinks img {
    display: none;
}

/* drink content styling */
#drinks {
    display: flex;
    justify-content: center;

    margin-top: 5vw;
    margin-bottom: 5vh;
}

.drinkContent ul {
    margin-bottom: 5vh;
}

.drinkCols {
    display: flex;
    justify-content: center;
}

.drinkCol1 {
    margin-right: 1vw;
}

.drinkCol2 {
    margin-left: 1vw;
}
/* drink collage styling */
.drinkCollage{
    display: flex;
    flex-direction: column;

    margin-right: 5vw;
}

.drink1, .drink2 {
    width: 10.5vw;
    height: auto;
}

.drink1 {
    margin-bottom: 3vh;
}

.drinkContent {
    display: flex;
    flex-direction: column;

    margin-right: 0;
    margin-left: 2vw;
    margin-bottom: 1.2vw;

    padding-right: 2vw;
    padding-left: 2vw;

    background-color: #343434;
    box-shadow: -1.2vw 1.2vw #151515;
}

/* content styling */
.mobileAside {
    font-size: 1vw;
    padding-left: 1vw;
}

.aside {
    display: none;
}

/* flickity styling */
.mobilePhotos {
    background: #222;
}

.carousel-image {
    display: block;
    height: 30vh;
    /* set min-width, allow images to set cell width */
    min-width: 150px;
    max-width: 100%;
    margin-right: 1vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    /* vertically center */
    top: 50%;
    transform: translateY(-50%)
}

.carousel.is-fullscreen .carousel-image {
    height: auto;
    max-height: 100%;
}




/* footer styling */

footer {
    background-color: #121212;
    color: white;
    padding-top: 3vh;
    padding-bottom: 3vh;

    margin-top: 0;
    /*flexbox for footer*/
    display: flex;
    justify-content: space-around;
    
    align-items: flex-end;
}

/*column 1 styling*/
.col1 {
    display: flex;
    flex-direction: column;
    margin-left: 6vw;

}

.footerLogo {
    display: flex;
    justify-content: space-around;
}

.textLogo {
    display: none;
    flex-direction: column;

    margin-left: 1vw;

    font-family: "notoSerif";
}

h3 {
    font-size: 2vw;
    height: 0;
    margin-top: 0;
    font-weight: lighter;
}

h4 {
    font-size: 7vw;
    font-weight: lighter;
    height: 0;
    margin-top: 0;
}

.bigLogo {
    width: 18vw;
    /*max-width: 0.2vw;*/
    height: 100%;
    margin-left: 4vw;
}

.legal {
    display: none;

    font-family: "notoSerif";
    font-size: 0.8vw;

    margin-left: 2vw;

    list-style-type: none;
}

.mobileLegal {    
    font-family: "notoSerif";
    font-size: 0.8vw;
    color: white;

    margin-left: 2vw;

    list-style-type: none;
}

/* col2 styling */

.schedule {
    font-family: "notoSerif";
    list-style-type: none;
    font-size: 1vw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address {
    font-family: "notoSerif";
    font-size: 1vw;
    list-style-type: none;
}

.contact {
    font-family: "notoSerif";
    font-size: 1vw;
    list-style-type: none;
}

/* col3 styling */

.bottomNav {
    font-family: "notoSerif";
    font-size: 1.2vw;
    list-style-type: none;

    margin-right: 9vw;

    display: none;
    justify-content: space-around;
}

.bottomNav li {
    padding: 1vh 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomNav a:link {
    color: white;
    text-decoration: none;
    padding: 0.2vw;
}

.bottomNav a:visited {
    color: white;
    text-decoration: none;
}

.bottomNav a:hover {
    color: white;
    background-color: #D04F33;
}


@media only screen and (min-width: 600px) {
    /* footer styling */
    .bigLogo {
        width: 15vw;
        /*max-width: 0.2vw;*/
        height: 100%;
        margin-left: 4vw;
    }

    .tax {
        font-size: 10px;
    }
}

@media only screen and (min-width: 700px) {
    /* flickity styling */
    .mobilePhotos {
        display: none;
    }


    /* mobile phone button */
    .mobileCTA {
        display: none;
    }

    .break {
        display: none;
        flex-basis: 0;
        height: 0;
    }

    /* logo styling */
    .circleLogo {
        width: 4.5vw;
        /*max-width: 0.2vw;*/
        height: auto;

        margin-left: 10vw;
    }

    /* nav bar styling */
    .topnav {
        list-style-type: none;
        background-color: black;
        font-size: 1.2vw;
        font-family: "notoSerif";
        top: 0;
        margin: 0;
        padding: 0;
        position: sticky;
        z-index: 100;
    
        /*flexbox*/
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .topnav a:link {
        padding: 0.4vw;
        color: white;
        text-decoration: none;
    }
    
    .topnav a:visited {
        color: white;
        text-decoration: none;
    }
    
    .highlight a:hover, .logo a:hover, .menuLink a:hover {
        color: white;
        background-color: #D04F33;
    }
    
    .logo {
        margin-right: auto;
    }
    
    
    .topnav li {
        padding: 1vh 1vw;
        display: flex;            /* NEW; nested flex container */
        justify-content: center;  /* NEW; align anchor elements horizontally */
        align-items: center; 
    }
    
    /* phone button styling */
    .phone {
        background: linear-gradient(to bottom, #f16e51 0%, #d04f33 100%);
        padding: 0.1vw;
        border-radius: 10px;
    }
    
    .phone li {
        padding: 0;
    }
    
    .phoneCaption {
        font-size: 0.8vw;
    }
    
    .phoneNumber {
        font-size: 1.2vw;
    }

    .tax {
        font-size: 10px;
    }

    /* content styling */
    .appetizers ul, .recContent ul, .okonomi ul, .yakisobaContent ul, .entreeContent ul, .drinkContent ul {
        font-size: 1.2vw;
    }

    h2 {
        font-size: 1.5vw;
    }

    .drinkContent {
        display: flex;
        flex-direction: column;
    
        margin-right: 2vw;
        margin-left: 5vw;
        margin-bottom: 1.2vw;
    
        padding-right: 7vw;
        padding-left: 3vw;
    
        background-color: #343434;
        box-shadow: -1.2vw 1.2vw #151515;
    }

    .aside {
        display: initial;
    }
    
    .mobileAside {
        display: none;
    }

    #appetizers img, #recs img, #okonomi img, #yakisoba img, #entree img, #drinks img {
        display: flex;
    }
}

@media only screen and (min-width: 768px){
    /* footer styling */

    .legal {
        display: flex;
    }

    .mobileLegal {
        display: none;
    }

    .textLogo {
        display: flex;
    }

    .tax {
        font-size: 10px;
    }

    
    .bigLogo {
        width: 12vw;
        /*max-width: 0.2vw;*/
        height: 100%;
        margin-left: 4vw;
    }
}

@media only screen and (min-width: 850px) {
    /* side navigation styling */
    .sidenav {
        font-family: "notoSerif";
        font-weight: lighter;
        font-size: 1vw;

        display: flex;
        flex-direction: column;


        position: fixed;
        z-index: 100;
        bottom: 35%;
        right: 3vw;
    }

    .tax {
        font-size: 16px;
    }

    .sidenav li {
        margin: 0.2vw;
    }

}

@media only screen and (min-width: 950px) {
    /* footer styling */

    footer {
        background-color: #121212;
        color: white;
        padding-top: 3vh;
        padding-bottom: 3vh;

        margin-top: 10vh;
        /*flexbox for footer*/
        display: flex;
        justify-content: space-around;
        
        align-items: flex-end;
    }

    .tax {
        font-size: 16px;
    }

    /*column 1 styling*/
    .col1 {
        display: flex;
        flex-direction: column;
        margin-left: 6vw;

    }

    .footerLogo {
        display: flex;
        justify-content: space-around;
    }

    .textLogo {
        display: flex;
        flex-direction: column;

        margin-left: 1vw;

        font-family: "notoSerif";
    }

    h3 {
        font-size: 2vw;
        height: 0;
        margin-top: 0;
        font-weight: lighter;
    }

    h4 {
        font-size: 7vw;
        font-weight: lighter;
        height: 0;
        margin-top: 0;
    }

    .bigLogo {
        width: 12vw;
        /*max-width: 0.2vw;*/
        height: 100%;
        margin-left: 4vw;
    }

    .legal {
        font-family: "notoSerif";
        font-size: 0.8vw;

        margin-left: 2vw;

        list-style-type: none;
    }

    /* col2 styling */

    .schedule {
        font-family: "notoSerif";
        list-style-type: none;
        font-size: 1vw;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .address {
        font-family: "notoSerif";
        font-size: 1vw;
        list-style-type: none;
    }

    .contact {
        font-family: "notoSerif";
        font-size: 1vw;
        list-style-type: none;
    }

    /* col3 styling */

    .bottomNav {
        font-family: "notoSerif";
        font-size: 1.2vw;
        list-style-type: none;

        margin-right: 9vw;

        display: flex;
        justify-content: space-around;
    }

    .bottomNav li {
        padding: 1vh 0.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottomNav a:link {
        color: white;
        text-decoration: none;
        padding: 0.2vw;
    }

    .bottomNav a:visited {
        color: white;
        text-decoration: none;
    }

    .bottomNav a:hover {
        color: white;
        background-color: #D04F33;
    }
}
